<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        h3 {
            text-align: center;
            color: #4CAF50;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Car Price Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-3"><b>Car Price Predictor</b></h1>
        <form action="{{ url_for('predict')}}" method="POST">
            <div class="form-group">
                <label for="Year">Enter Year</label>
                <input type="text" class="form-control" id="Year" name="Year" placeholder="Enter The Buying Year Of car">
            </div>
            <div class="form-group">
                <label for="Present_Price">What is the Showroom Price ?(In lakhs)</label>
                <input type="text" class="form-control" id="Present_Price" name="Present_Price" placeholder="Enter Price Of Car">
            </div>
            <div class="form-group">
                <label for="Kms_Driven">How Many Kilometers Drived ?</label>
                <input type="text" class="form-control" id="Kms_Driven" name="Kms_Driven" placeholder="Enter How many kilometers car is driven">
            </div>
            <div class="form-group">
                <label for="Owner">How much owners previously had the car(0 or 1 or 3) ?</label>
                <input type="text" class="form-control" id="Owner" name="Owner" placeholder="Enter How many peoples are used this car">
            </div>
            <div class="form-group">
                <label for="Fuel_Type_Petrol">What Is the Fuel type ?</label>
                <select class="form-control custom-select" name="Fuel_Type_Petrol" id="Fuel_Type_Petrol">
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="CNG">CNG</option>
              </select>
            </div>
            <div class="form-group">
                <label for="Seller_Type_Individual">Are you A Dealer or Individual</label>
                <select class="form-control custom-select" name="Seller_Type_Individual" id="Seller_Type_Individual">
                    <option value="Dealer">Dealer</option>
                    <option value="Individual">Individual</option>
              </select>
            </div>
            <div class="form-group">
                <label for="Transmission_Manual">Transmission Type</label>
                <select class="form-control custom-select" name="Transmission_Manual" id="Transmission_Manual">
                    <option value="Manual">Manual Car</option>
                    <option value="Automatic">Automatic Car</option>
              </select>
            </div>
            <button class="btn btn-success" type="submit">Calculate The Selling Price</button>
            <h3 class="text-center">{{ ans }}</h3>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>